In [23]:
import pandas as pd
import os
from pathlib import Path
import re
pd.set_option('max.columns',100)

In [24]:
raw = Path(os.getcwd()) / '..' / '..'/ 'data' / '01_raw'

### Join kof with sc (sneaker)

In [25]:
kof = pd.read_csv(raw / 'kof.csv')
sneaker = pd.read_csv(raw / 'sneaker.csv')

kof['name_join'] = kof['name'].str.lower()
kof['name_join'] = kof['name_join'].str.replace('[^\w\s]','')

sneaker['name_join'] = sneaker['name'].str.lower()
sneaker['name_join'] = sneaker['name_join'].str.replace('[^\w\s]','')

df = kof.merge(sneaker[['style_code', 'description', 'original_price', 'brand_id', 
         'secondary_brand_id', 'silhouette_id']], 
               how='left', on='style_code')

df = df.merge(sneaker[['name_join', 'description', 'original_price', 'brand_id', 
         'secondary_brand_id', 'silhouette_id']], 
               how='left', on='name_join')

df['description_x'] = df['description_x'].fillna(df['description_y'])
df['original_price_x'] = df['original_price_x'].fillna(df['original_price_y'])
df['brand_id_x'] = df['brand_id_x'].fillna(df['brand_id_y'])
df['secondary_brand_id_x'] = df['secondary_brand_id_x'].fillna(df['secondary_brand_id_y'])
df['silhouette_id_x'] = df['silhouette_id_x'].fillna(df['silhouette_id_y'])

df = df.drop(columns=['brand_id_y', 'secondary_brand_id_y', 'silhouette_id_y', 
                      'description_y', 'original_price_y'])
df = df.rename(columns={'brand_id_x': 'brand_id', 'secondary_brand_id_x':'secondary_brand_id',
                       'silhouette_id_x':'silhouette_id', 'description_x':'description',
                       'original_price_x':'original_price'})

In [26]:
df.head(1)

,style_code,name,brand,date,retail_price,colorway,story,wants,name_join,description,original_price,brand_id,secondary_brand_id,silhouette_id
0,314996-101,Nike Air Foamposite One Snakeskin,Nike,2019-04-15,220.0,Sail/Black-Habanero Red-Black,"Equipped with an eye-catching upper, this Air ...",2281,nike air foamposite one snakeskin,"The Nike Air Foamposite One ""Snakeskin"" will b...",230,117.0,397.0,685.0

### Join Brand

In [27]:
brand = pd.read_csv(raw / 'brand.csv')

brand['name'] = brand['name'].str.title()

brand = brand[['id', 'name', 'lines_count', 'models_count', 'releases_count', 'year_founded']]

brand = brand.append({'id':9, 'name':'Air Jordan', 'lines_count':11, 'models_count':139, 
              'releases_count':1653, 'year_founded':1984}, ignore_index=True)
brand = brand.append({'id':10, 'name':'Jordan Brand', 'lines_count':11, 'models_count':139, 
              'releases_count':1653, 'year_founded':1984}, ignore_index=True)

brand = brand.rename(columns={'id':'brand_id', 'name':'brand'})

df = df.merge(brand[['brand_id', 'brand']], how='left', on='brand')
df['brand_id_x'] = df['brand_id_x'].fillna(df['brand_id_y'])

df = df.drop(columns='brand_id_y')
df = df.rename(columns={'brand_id_x': 'brand_id'})

brand = brand.drop(columns='brand')

df = df.merge(brand, how='left', on='brand_id')

df = df.rename(columns={'lines_count':'brand_lines_count', 'models_count':'brand_models_count', 
                   'releases_count':'brand_releases_count', 'year_founded':'brand_year_founded'})

In [28]:
df.head(1)

,style_code,name,brand,date,retail_price,colorway,story,wants,name_join,description,original_price,brand_id,secondary_brand_id,silhouette_id,brand_lines_count,brand_models_count,brand_releases_count,brand_year_founded
0,314996-101,Nike Air Foamposite One Snakeskin,Nike,2019-04-15,220.0,Sail/Black-Habanero Red-Black,"Equipped with an eye-catching upper, this Air ...",2281,nike air foamposite one snakeskin,"The Nike Air Foamposite One ""Snakeskin"" will b...",230,117.0,397.0,685.0,26.0,536.0,6024.0,1964.0

### Join Secondary Brand

In [29]:
secondary_brand = pd.read_csv(raw / 'secondary_brand.csv')

secondary_brand = secondary_brand[['id', 'name', 'models_count', 'releases_count']]

secondary_brand = secondary_brand.rename(columns={'id':'secondary_brand_id', 'name':'secondary_brand', 
                                'models_count':'sb_models_count', 'releases_count':'sb_releases_count',
                                                 'lines_count':'sb_lines_count'})

df = df.merge(secondary_brand, how='left', on='secondary_brand_id')

In [30]:
df.head(1)

,style_code,name,brand,date,retail_price,colorway,story,wants,name_join,description,original_price,brand_id,secondary_brand_id,silhouette_id,brand_lines_count,brand_models_count,brand_releases_count,brand_year_founded,secondary_brand,sb_models_count,sb_releases_count
0,314996-101,Nike Air Foamposite One Snakeskin,Nike,2019-04-15,220.0,Sail/Black-Habanero Red-Black,"Equipped with an eye-catching upper, this Air ...",2281,nike air foamposite one snakeskin,"The Nike Air Foamposite One ""Snakeskin"" will b...",230,117.0,397.0,685.0,26.0,536.0,6024.0,1964.0,Nike Basketball,68.0,444.0

### Join Silhouette

In [31]:
silhouette = pd.read_csv(raw / 'silhouette.csv')

silhouette = silhouette[['id','name','releases_count','models_count']]
silhouette = silhouette.rename(columns={'id':'silhouette_id', 'name':'silhouette', 
                           'releases_count':'s_releases_count', 'models_count':'s_models_count'})

df = df.merge(silhouette, how='left', on='silhouette_id')

In [36]:
df.head(1)

,style_code,name,brand,date,retail_price,colorway,story,wants,name_join,description,original_price,brand_id,secondary_brand_id,silhouette_id,brand_lines_count,brand_models_count,brand_releases_count,brand_year_founded,secondary_brand,sb_models_count,sb_releases_count,silhouette,s_releases_count,s_models_count,wmns
0,314996-101,Nike Air Foamposite One Snakeskin,Nike,2019-04-15,220.0,Sail/Black-Habanero Red-Black,"Equipped with an eye-catching upper, this Air ...",2281,nike air foamposite one snakeskin,"The Nike Air Foamposite One ""Snakeskin"" will b...",230,117.0,397.0,685.0,26.0,536.0,6024.0,1964.0,Nike Basketball,68.0,444.0,Nike Air Foamposite One,65.0,NaN,False

### Feature Engineering

In [48]:
df['wmns'] = df['name_join'].str.match(r'wmns')

In [49]:
df.head(100)

,style_code,name,brand,date,retail_price,colorway,story,wants,name_join,description,original_price,brand_id,secondary_brand_id,silhouette_id,brand_lines_count,brand_models_count,brand_releases_count,brand_year_founded,secondary_brand,sb_models_count,sb_releases_count,silhouette,s_releases_count,s_models_count,wmns
0,314996-101,Nike Air Foamposite One Snakeskin,Nike,2019-04-15,220.0,Sail/Black-Habanero Red-Black,"Equipped with an eye-catching upper, this Air ...",2281,nike air foamposite one snakeskin,"The Nike Air Foamposite One ""Snakeskin"" will b...",230,117.0,397.0,685.0,26.0,536.0,6024.0,1964.0,Nike Basketball,68.0,444.0,Nike Air Foamposite One,65.0,NaN,False
1,BV4580-400,Undercover x Nike SFB Mountain Obsidian Univer...,Nike,2019-04-15,350.0,Obsidian/University Red-Dark Obsidian,The Undercover x Nike SFB Mountain Obsidian/Un...,37,undercover x nike sfb mountain obsidian univer...,NaN,NaN,117.0,NaN,NaN,26.0,536.0,6024.0,1964.0,NaN,NaN,NaN,NaN,NaN,NaN,False
2,BV4580-001,Undercover x Nike SFB Mountain Black,Nike,2019-04-15,350.0,Black/Sail-Black,The Undercover x Nike SFB Mountain Black is In...,70,undercover x nike sfb mountain black,NaN,NaN,117.0,NaN,NaN,26.0,536.0,6024.0,1964.0,NaN,NaN,NaN,NaN,NaN,NaN,False
3,AO2607-900,Nike PG 3 Mamba Mentality,Nike,2019-04-13,110.0,Multi-Color/Opti Yellow,The Nike PG 3 Mamba Mentality comes covered in...,179,nike pg 3 mamba mentality,"In celebration of Kobe Bryant's Mamba Day, the...",110,117.0,8295.0,10245.0,26.0,536.0,6024.0,1964.0,Nike Paul George,5.0,52.0,Nike PG 3,12.0,NaN,False
4,AO2918-102,Nike Kyrie 5 Mamba Mentality,Nike,2019-04-13,130.0,White/Cyber,The Nike Kyrie 5 Mamba Mentality is a new rend...,271,nike kyrie 5 mamba mentality,"Inspired by Kobe Bryant's classic ""Chaos"" Nike...",130,117.0,397.0,10092.0,26.0,536.0,6024.0,1964.0,Nike Basketball,68.0,444.0,Nike Kyrie 5,28.0,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,CI2368-001,Nike Air Max Plus Miami Vice,Nike,2019-03-21,160.0,Black/Fuchsia,"Dubbed the Miami Vice, this colorway of the Ni...",2393,nike air max plus miami vice,NaN,NaN,117.0,NaN,NaN,26.0,536.0,6024.0,1964.0,NaN,NaN,NaN,NaN,NaN,NaN,False
96,BV1127-800,Nike Shox TL Clay Orange,Nike,2019-03-21,170.0,Clay Orange/Metallic Silver,The Nike Shox TL features a mesh upper with pa...,110,nike shox tl clay orange,NaN,NaN,117.0,NaN,NaN,26.0,536.0,6024.0,1964.0,NaN,NaN,NaN,NaN,NaN,NaN,False
97,BV1127-001,Nike Shox TL Triple Black,Nike,2019-03-21,170.0,Black/Black-Black,The Nike Shox TL features a mesh upper with pa...,113,nike shox tl triple black,NaN,NaN,117.0,NaN,NaN,26.0,536.0,6024.0,1964.0,NaN,NaN,NaN,NaN,NaN,NaN,False
98,BV1127-600,Nike Shox TL Speed Red,Nike,2019-03-21,170.0,Speed Red/Metallic Silver,The Nike Shox TL features a mesh upper with pa...,100,nike shox tl speed red,NaN,NaN,117.0,NaN,NaN,26.0,536.0,6024.0,1964.0,NaN,NaN,NaN,NaN,NaN,NaN,False
99,AT5673-700,Nike WMNS Air VaporMax 2 Swarovski Volt,Nike,2019-03-15,500.0,Volt/White,The Nike WMNS Air VaporMax 2 Swarovski Volt is...,197,nike wmns air vapormax 2 swarovski volt,NaN,NaN,117.0,NaN,NaN,26.0,536.0,6024.0,1964.0,NaN,NaN,NaN,NaN,NaN,NaN,False